<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>-->
<!--    <conversionRule conversionWord="wEx"-->
<!--                    class="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>-->

    <appender name="JSON-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>sys-json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>sys-json.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.bqsummer.framework.log.LogPatternLayout">
                <pattern>
<!--                    {"logtime":"%d{yyyy-MM-dd HH:mm:ss.SSS}","level":"%level","thread":"%thread","logger":"%logger{36}","line":%line,"msg":%msg}\n-->
                    ${CONSOLE_LOG_PATTERN:-%highlight(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %highlight(${LOG_LEVEL_PATTERN:-%5p}) [%L] %highlight([%15.15t]){faint} %highlight(%-40.40logger{39}){cyan} %highlight(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%ex}}
                </pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.bqsummer.framework.log.LogPatternLayout">
                <pattern>${CONSOLE_LOG_PATTERN:-%highlight(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %highlight(${LOG_LEVEL_PATTERN:-%5p}) %highlight([%15.15t]){faint} %highlight(%-40.40logger{39}){cyan} [%L] %highlight(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%ex}}
                </pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="JSON-FILE"/>
    </root>
</configuration>
